/_obj_
/_dep_
/_bin_/*
!/_bin_/foaddemo.hex
!/_bin_/foaddemo.uze
!/_bin_/foad.hex
!/_bin_/foad.uze
/assets/*
!/assets/dragon_sprites
!/assets/gimp_sources
!/assets/*.xcf
!/assets/*.c
!/assets/*.h
!/assets/texts.txt
!/assets/*.it
/kernelm74/videoMode74/examples
/kernelm74/videoMode74/generators
cuzebox
cuzebox.*
uzem
uzem.*
eeprom.bin
